* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(220, 14%, 75%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

.App {
  text-align: center;
}
.container {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
@media (min-width: 900px) {
  .container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 1em auto;
  }
}
